**/.gradle/
**/bin/
**/build/
**/out/
**/target/
**/lib/
**/.settings/
**/.classpath
**/.project
**/.DS_Store
**/.idea
**/.classpath
**/.project
**/*.log
**/*.tlog
**/*.iml
**/docker-compose.yaml
/*/gradle.properties
